@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

h3 {
    margin-top: 2%;
    margin-left: 27%;
    font-family: 'Manrope', sans-serif;
    font-weight: bold
}

.comment {
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px
}

.comment img {
    border-radius: 10px;
    padding-right: 5px;
    width: 60px;
    height: 55px
}

.comment img:hover {
    cursor: pointer
}

.round .align-self-start {
    border-radius: 100%;
    width: 45px;
    height: 40px
}

.media{
    min-width: 450px;
}

.media .comment {
    background: #F4F4F4;
    border: none;
    border-radius: 10px
}

.comment h6.user {
    font-size: 20px !important;
    padding-left: 15px !important;
    margin-bottom: 0
}

.comment h6.user:hover {
    cursor: pointer;
    text-decoration: underline
}

.comment p.text {
    margin-bottom: 0;
    /*
    color: #8A8A8A !important;
    */
    color: #5C5C5C;
    font-size: 17px
}

.comment .ml-auto {
    margin-right: 10px
}

.comment p .reply {
    color: #5C5C5C;
    font-size: 15px
}

/*
@media screen and (min-width: 576px) {
    .comment {
        width: 470px !important
    }
}
*/